body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:557px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:158px;
}
#u53 {
  position:absolute;
  left:313px;
  top:86px;
  width:244px;
  height:158px;
}
#u54 {
  position:absolute;
  left:2px;
  top:71px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
