body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:579px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:291px;
}
#u55 {
  position:absolute;
  left:287px;
  top:62px;
  width:292px;
  height:291px;
}
#u56 {
  position:absolute;
  left:2px;
  top:138px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
